.login-background {
  background-image: url('login-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilize o formulário de login como desejado */
.form-login {
  background: rgba(245, 245, 245, 0.992);
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;

  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn {
    background-color: #00cdb2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
}

/* Estilizar os links */
.form-login .text-center a {
  font-size: 14px;
  text-decoration: none;
  /* Remover o traçado de linha */
  margin-right: 10px;
  /* Adicionar espaço entre os links */
}
